@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using Stateless.WorkflowEngine.WebConsole.BLL.Data.Models
@using Stateless.WorkflowEngine.WebConsole.Navigation
@model Stateless.WorkflowEngine.WebConsole.ViewModels.Store.StoreViewModel
@{
    var title = String.Format("Stateless.WorkflowEngine Console :: Store :: {0}:{1}:{2}", Model.Connection.Host, Model.Connection.Port, Model.Connection.Database);
    Layout = "Views/Layouts/MainLayout.cshtml";
    ViewBag.Title = title;
}
@functions {
    public string GetHost() {
        string host = Model.Connection.Host;
        if (Model.Connection.Port > 0) {
            host = String.Format("{0}:{1}", host, Model.Connection.Port);
        }
        return host;
    }
}
<!-- Tools -->
<section id="tools">
    <ul class="breadcrumb" id="breadcrumb">
        <li class="title"><a href="@Actions.Dashboard.Default">Dashboard</a></li>
        <li>@GetHost()</li>
        <li class="active">@Model.Connection.Database</li>
    </ul>
    <div id="toolbar">
        <div class="btn-group">
            <a id="btn-refresh" class="btn" data-toggle="tooltip" data-placement="bottom" href="#" title="" data-original-title="Reload the workflow list">
                <i class="fa fa-refresh"></i>&nbsp;
            </a>
            <a id="btn-count" class="btn" data-toggle="tooltip" data-placement="bottom" href="#" title="" data-original-title="Set the number of workflows to display">0</a>
        </div>
    </div>
</section>
<!-- Content -->
<div id="content">
    <div id="pnl-loading" class="container-fluid">
        <i class="pull-left fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i>
        <h4 class="pull-left">Loading workflows...</h4>
    </div>
    <div id="pnl-workflows" data-model-id="@Model.Connection.Id">
    </div>
</div>
<div class="modal fade" id="dlg-workflow" tabindex="-1" role="dialog" aria-labelledby="modal-title">
    <div class="modal-dialog modal-wide" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Workflow : <span id="workflow-header-id"></span></h4>
            </div>
            <div class="modal-body">
                <div id="workflow-msg-error" class="alert alert-danger hidden" role="alert">An error occurred.</div>
                <pre id="code-workflow-json"><code class="language-json"></code></pre>
            </div>
            <div class="modal-footer">
                @if (Model.IsDeleteWorkflowButtonVisible)
                {
                    <button id="btn-delete-single" type="button" class="btn btn-danger pull-left">Delete</button>
                }
                @if (Model.IsSuspendButtonVisible)
                {
                    <button id="btn-suspend-single" type="button" class="btn btn-warning pull-left">Suspend</button>
                }
                <i id="spinner-single" class="pull-left fa fa-circle-o-notch fa-spin fa-2x fa-fw" style="margin-left:5px;display:none;"></i>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="dlg-workflow-definition" tabindex="-1" role="dialog" aria-labelledby="modal-title">
    <div class="modal-dialog modal-wide" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Workflow Definition : <span id="workflow-definition-header-id"></span></h4>
            </div>
            <div class="modal-body">
                <div id="workflow-definition-msg-error" class="alert alert-danger hidden" role="alert">An error occurred.</div>
                <div id="workflow-definition-graph"></div>
            </div>
            <div class="modal-footer">
                <i id="definition-spinner-single" class="pull-left fa fa-circle-o-notch fa-spin fa-2x fa-fw" style="margin-left:5px;display:none;"></i>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="dlg-workflow-update" tabindex="-1" role="dialog" aria-labelledby="dlg-workflow-uodate-header">
    <div class="modal-dialog modal-wide" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="dlg-workflow-uodate-header"></h4>
            </div>
            <div class="modal-body">
                <div class="progress active">
                    <div id="progress-workflow-update" class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                        <span class="sr-only">&nbsp;</span>
                    </div>
                </div>                                   
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="dlg-workflow-count" tabindex="-1" role="dialog" aria-labelledby="dlg-workflow-count-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Cancel"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="dlg-workflow-count-title">Number of workflows to load</h4>
            </div>
            <div class="modal-body">
                <form onsubmit="return false">
                    <div class="form-group">
                        <label for="txt-workflow-count">Show workflows:</label>
                        <input type="number" class="form-control" id="txt-workflow-count" value="">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="btn-workflow-count-update" type="button" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>

