<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="LatestVersionUrl" value="https://api.github.com/repos/mrsalmon1976/Stateless.WorkflowEngine/releases/latest" />
  </appSettings>
</configuration>