<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>

    <target name="logfile" type="File" fileName="${basedir}\logs\${date:format=yyyy-MM-dd}.log" layout="${longdate}|${level}|${logger}|${message}|${exception:format=ToString}" />

  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
   </rules>
</nlog>