<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="7.0.1" targetFramework="net462" />
  <package id="BCrypt-Official" version="0.1.109" targetFramework="net45" />
  <package id="BouncyCastle" version="1.8.3" targetFramework="net462" />
  <package id="DnsClient" version="1.2.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net462" />
  <package id="MongoDB.Bson" version="2.7.0" targetFramework="net462" />
  <package id="MongoDB.Driver" version="2.7.0" targetFramework="net462" />
  <package id="MongoDB.Driver.Core" version="2.7.0" targetFramework="net462" />
  <package id="Nancy" version="1.4.4" targetFramework="net45" />
  <package id="Nancy.Authentication.Forms" version="1.4.1" targetFramework="net45" />
  <package id="Nancy.Authentication.Stateless" version="1.4.1" targetFramework="net45" />
  <package id="Nancy.Hosting.Self" version="1.4.1" targetFramework="net45" />
  <package id="Nancy.Viewengines.Razor" version="1.4.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="NLog" version="4.5.10" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="SystemWrapper" version="0.4" targetFramework="net45" />
  <package id="Topshelf" version="4.1.0" targetFramework="net462" />
</packages>