@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@model System.Collections.Generic.List<string>
@if (Model.Count > 0)
{
<div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>The following errors occured:</strong> 
    <ul>
        @foreach (string err in Model)
        {
            <li>@err</li>
        }
    </ul>
</div>
}
