.conn-title {
    display: inline;
}
    .conn-title a {
        cursor: pointer;
    }
.dashboard-panel {
    margin-right:20px;
}
    .dashboard-panel .panel-body {
         width: 300px;
    }
    .dashboard-panel .panel-heading.error {
        background-color: #d9534f;
        color: white;
    }
.logo-icon
{
    width:75px;
    height:75px;
    margin:auto;
    padding:15px;
    padding-top: 22px;
    margin-top: 10px;
    border-radius:40px;
    background:#2c3e50;
    color: #1abc9c;
}
