.dashboard-panel {
    margin-right:20px;
    min-height:193px;
}
    .dashboard-panel .panel-body {
         width: 300px;
    }
.logo-icon
{
    width:75px;
    height:75px;
    margin:auto;
    padding:15px;
    padding-top: 22px;
    margin-top: 10px;
    border-radius:40px;
    background:#2c3e50;
    color: #1abc9c;
}
