.conn-icons {
    margin:2px -10px 0px 30px;
}
.conn-image {
    display: inline-block;
    vertical-align: middle;
    margin-left: -10px;
}
.conn-menu > li > a {
    font-size: 90%;
}
.conn-row {
    margin:0 !important;
}
.conn-title {
    display: inline-block;
    margin-left: 10px;
}
    .conn-title a {
        cursor: pointer;
    }
.conn-workflow-info {
    float: left;
    width: 33.33%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.conn-workflow-info-alt {
    float: left;
    width: 33.33%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f5f7f7;
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}
.conn-workflow-info-warning {
    background-color: #f0ad4e;
    color: white;
}
.conn-workflow-info-error {
    background-color: #d9534f;
    color: white;
}
.dashboard-panel {
    margin-right:20px;
}
    .dashboard-panel .panel-body {
        padding: 0px;
        min-width: 300px;
    }
    .dashboard-panel .panel-heading.error {
        background-color: #d9534f;
        color: white;
    }
.font90 {
    font-size: 90%;
}
.logo-icon
{
    width:75px;
    height:75px;
    margin:auto;
    padding:15px;
    padding-top: 22px;
    margin-top: 10px;
    border-radius:40px;
    background:#2c3e50;
    color: #1abc9c;
}
@media screen and (min-width: 768px) {
    .modal-wide {
        width: 70%; /* either % (e.g. 60%) or px (400px) */
    }
}
