<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Lambda2Js.Signed" version="3.1.4" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.JsonPatch" version="8.0.17" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net462" />
  <package id="Nito.AsyncEx.Coordination" version="5.1.2" targetFramework="net462" />
  <package id="Nito.AsyncEx.Tasks" version="5.1.2" targetFramework="net462" />
  <package id="Nito.Collections.Deque" version="1.1.1" targetFramework="net462" />
  <package id="Nito.Disposables" version="2.4.0" targetFramework="net462" />
  <package id="RavenDB.Client" version="5.4.210" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="8.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
</packages>