@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Stateless.WorkflowEngine.WebConsole.ViewModels.User.UserListViewModel>
@using Stateless.WorkflowEngine.WebConsole.Navigation
@if (Model.Users.Count > 0)
{
    <table class="table table-striped table-hover table-bordered font90">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in Model.Users)
            {
                <tr>
                    <td>@r.UserName</td>
                    <td>@r.Role</td>
                </tr>
            }
        </tbody>
    </table>
}
