@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Stateless.WorkflowEngine.WebConsole.ViewModels.User.UserViewModel>
@using Stateless.WorkflowEngine.WebConsole.BLL.Data.Models
@using Stateless.WorkflowEngine.WebConsole.Navigation
@{
    Layout = "Views/Layouts/MainLayout.cshtml";
    ViewBag.Title = "Stateless.WorkflowEngine Console :: Users";
}
<!-- Tools -->
<section id="tools">
    <ul class="breadcrumb" id="breadcrumb">
        <li class="title">Users</li>
    </ul>
    <div id="toolbar">
        <div class="btn-group">
            <a class="btn" data-toggle="toolbar-tooltip" href="#" title="" data-original-title="">
                <i class="fa fa-plus"></i>
            </a>
        </div>
    </div>
</section>
<!-- Content -->
<div id="content">
    <div id="pnl-loading">
        <i class="pull-left fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i>
        <h4 class="pull-left">Loading users...</h4>
    </div>
    <div id="pnl-users">
    </div>
</div>
