@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using Stateless.WorkflowEngine.WebConsole.Navigation
@model Stateless.WorkflowEngine.WebConsole.ViewModels.User.UserViewModel
@{
    Layout = "Content/Layouts/MainLayout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Maintain Users</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div id="pnl-loading">
            <h4>Loading...<i id="spinner" class="fa fa-circle-o-notch fa-spin fa-lg fa-fw pull-left"></i></h4>
        </div>
        <div id="user-list"></div>
        <button id="btn-add" class="btn btn-primary pull-left">Add User</button>
    </div>
</div>
<div class="modal fade" id="dlg-add" tabindex="-1" role="dialog" aria-labelledby="dlg-title">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="dlg-title">Add User</h4>
      </div>
      <div class="modal-body">
        <div id="msg-error" class="alert alert-danger hidden" role="alert">An error occurred.</div>
        @Html.Partial("Content/Views/User/_UserForm.cshtml", Model)
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="btn-submit" type="button" class="btn btn-primary">Add user</button>
      </div>
    </div>
  </div>
</div>
