@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using Nancy.Security
@using Stateless.WorkflowEngine.WebConsole.BLL.Data.Models
@using Stateless.WorkflowEngine.WebConsole.Navigation
@using Stateless.WorkflowEngine.WebConsole.BLL.Utils
@using Stateless.WorkflowEngine.WebConsole.BLL.Security
@using System.Collections.Generic
@model Stateless.WorkflowEngine.WebConsole.ViewModels.Dashboard.DashboardViewModel
@{
    Layout = "Views/Layouts/MainLayout.cshtml";
    ViewBag.Title = "Stateless.WorkflowEngine Console :: Update";
}
<section id="tools">
    <ul class="breadcrumb" id="breadcrumb">
        <li class="title"><a href="#">Version Update</a></li>
    </ul>
</section>
<div id="content">
    <div id="pnl-update" class="alert alert-info" role="alert">Please wait while the update applies. If you are not presented with a login in 2 minutes, you may need to run the AutoUpdater manually on the installation server.</div>
</div>


