@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using Stateless.WorkflowEngine.WebConsole.BLL.Data.Models
@using Stateless.WorkflowEngine.WebConsole.Navigation
@model Stateless.WorkflowEngine.WebConsole.ViewModels.Dashboard.DashboardConnectionViewModel
@if (Model.WorkflowStores.Count == 0) 
{
    <h4>You have no saved connections.  Add new connections by clicking the button on the top right of this panel.</h4>
}
@foreach (var workflowStore in Model.WorkflowStores)
{
    <div class="panel panel-default pull-left" style="margin-right:40px;">
        <div class="panel-heading" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
            <i class="fa fa-database"></i>
            Server:27017 / Database
        </div>
        <div class="panel-body" style="width: 275px;">
            <div class="progress" data-toggle="tooltip" data-placement="top" title="Collection: Workflows">
                <div class="progress-bar progress-bar-success progress-bar-striped" style="width: 100%"><span>Active: 15</span></div>
            </div>
            <div class="progress" data-toggle="tooltip" data-placement="bottom" title="Oldest: 2 years">
                <div class="progress-bar progress-bar-success progress-bar-striped" style="width: 100%"><span>Suspended: 0</span></div>
            </div>
            <div class="progress" data-toggle="tooltip" data-placement="bottom" title="Collection: CompletedWorkflows">
                <div class="progress-bar progress-bar-success progress-bar-striped" style="width: 100%"><span>Complete: 1000</span></div>
            </div>
        </div>
    </div>
}
