@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using Nancy.Security
@using Stateless.WorkflowEngine.WebConsole.BLL.Data.Models
@using Stateless.WorkflowEngine.WebConsole.Navigation
@using Stateless.WorkflowEngine.WebConsole.BLL.Utils
@using Stateless.WorkflowEngine.WebConsole.BLL.Security
@model Stateless.WorkflowEngine.WebConsole.ViewModels.Dashboard.DashboardViewModel
@{
    Layout = "Views/Layouts/MainLayout.cshtml";
    ViewBag.Title = "Stateless.WorkflowEngine Console :: Dashboard";
    IUserIdentity currentUser = ViewBag.CurrentUser;
}
<!-- Tools -->
<section id="tools">
    <ul class="breadcrumb" id="breadcrumb">
        <li class="title">Dashboard</li>
    </ul>
    <div id="toolbar">
        <div class="btn-group">
            <a id="btn-refresh" class="btn" data-toggle="toolbar-tooltip" href="#" title="" data-original-title="">
                <i class="fa fa-refresh"></i>
            </a>
            @if (DisplayUtils.HasClaim(currentUser, Claims.ConnectionAdd))
            {
                <a id="btn-add-connection" class="btn" data-toggle="toolbar-tooltip" href="#" title="" data-original-title="">
                    <i class="fa fa-plus"></i>
                </a>
            }
        </div>
    </div>
</section>
<!-- Content -->
<div id="content">
    <div id="pnl-loading">
        <i class="pull-left fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i>
        <h4 class="pull-left">Loading connections...</h4>
    </div>
    <div id="pnl-connections">
    </div>
</div>
<div class="modal fade" id="dlg-connection" tabindex="-1" role="dialog" aria-labelledby="dlg-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add connection</h4>
            </div>
            <div class="modal-body">
                <div id="connection-msg-error" class="alert alert-danger hidden" role="alert">An error occurred.</div>
                <form id="form-connection" class="form-horizontal" role="form" method="post">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Store Type</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="WorkflowStoreType">
                                <option>@(WorkflowStoreType.MongoDb.ToString())</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Host</label>
                        <div class="col-sm-9">
                            <input class="form-control" placeholder="Host name" name="host" type="text" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Port</label>
                        <div class="col-sm-9">
                            <input class="form-control" placeholder="e.g. 27017" name="Port" type="text" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Database</label>
                        <div class="col-sm-9">
                            <input class="form-control" placeholder="" name="Database" type="text" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Active Collection</label>
                        <div class="col-sm-9">
                            <input class="form-control" placeholder="" name="ActiveCollection" type="text" value="Workflows">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Completed Collection</label>
                        <div class="col-sm-9">
                            <input class="form-control" placeholder="" name="CompletedCollection" type="text" value="CompletedWorkflows">
                        </div>
                    </div>
                </form>                    
            </div>
            <div class="modal-footer">
                <button id="btn-test-connection" type="button" class="btn btn-default pull-left">Test Connection</button>
                <i id="connection-spinner" class="hide fa fa-circle-o-notch fa-spin fa-lg fa-fw pull-right"></i>
                <input type="hidden" id="hid-connection-id" name="ConnectionId" value="" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="btn-submit-connection" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

